home/pi/.node-red/.flows_raspberrypi.json.backup
[{"id":"c303df44.e294a","type":"tab","label":"Flow 1"},{"id":"b0615d3.18fefa","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"40","bin":"false","out":"time","addchar":false},{"id":"9694b9f8.bd6ce","type":"websocket-client","z":"","path":"http://demos.kaazing.com/echo/","wholemsg":"false"},{"id":"bb6abff8.a0262","type":"websocket-client","z":"","path":"ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"205fb9fd.806376","type":"websocket-listener","z":"","path":"ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"66b88b31.7a9d24","type":"websocket-listener","z":"","path":" ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"b81d484b.173628","type":"websocket-client","z":"","path":"ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"e4c594a1.7a2d58","type":"wiotp-credentials","z":"","name":"Raspi Marcos","org":" z1bjsl ","devType":" Raspberry_00 ","devId":"6dc08977.147968"},{"id":"c519f7a8.1d44e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"940dd28.0e9dc3","type":"mqtt-broker","z":"","broker":"192.168.1.217","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"38ca40ab.ebe53","type":"ui_group","z":"c303df44.e294a","name":"Config output","tab":"ab59323d.74807","order":1,"disp":true,"width":"6"},{"id":"87e4e177.831738","type":"ui_group","z":"c303df44.e294a","name":"Config Input","tab":"ab59323d.74807","disp":true,"width":"6"},{"id":"a75f0019.826c78","type":"ui_tab","z":"c303df44.e294a","name":"Config ","icon":"dashboard","order":3},{"id":"ba7c9c84.b3eaa","type":"ui_switch","z":"c303df44.e294a","name":"","label":"OUTPUT E/D","group":"74a2b7fe.6e6608","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"OUT E/D","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":367.8888888888889,"wires":[["1da98dda.7dae9a","9501f146.31f888"]]},{"id":"993b4100.853948","type":"ui_switch","z":"c303df44.e294a","name":"","label":"OUTPUT H/L","group":"74a2b7fe.6e6608","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"OUT H/L","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":288,"y":418.8888888888889,"wires":[["1da98dda.7dae9a","d1509a6e.b1068"]]},{"id":"312e0537.91a40a","type":"ui_switch","z":"c303df44.e294a","name":"","label":"OUTPUT 12V/5V","group":"74a2b7fe.6e6608","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"OUT 5/12","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":307,"y":472.8888888888889,"wires":[["1da98dda.7dae9a","29ea0075.e341a"]]},{"id":"fe451d2c.9e0268","type":"ui_switch","z":"c303df44.e294a","name":"","label":"INPUT H/L","group":"b1d150d2.7bed58","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"IN H/L","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":287,"y":251.88888888888889,"wires":[["1da98dda.7dae9a","e8ac2746.f5953"]]},{"id":"768bff9b.c50be8","type":"ui_switch","z":"c303df44.e294a","name":"","label":"INPUT 12V/5V","group":"b1d150d2.7bed58","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"IN 12/5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":294,"y":303.8888888888889,"wires":[["1da98dda.7dae9a","16d4df91.a9adc"]]},{"id":"15d72f5b.672589","type":"ui_button","z":"c303df44.e294a","name":"SAVE","group":"74a2b7fe.6e6608","order":0,"width":0,"height":0,"passthru":false,"label":"SAVE","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":306,"y":643.8888888888889,"wires":[["fe451d2c.9e0268","768bff9b.c50be8","ba7c9c84.b3eaa","993b4100.853948","312e0537.91a40a"]]},{"id":"f277806f.dec98","type":"file","z":"c303df44.e294a","name":"configuration file","filename":"mcashconfig.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":937,"y":654.8888888888889,"wires":[]},{"id":"2762daee.fb7dce","type":"debug","z":"c303df44.e294a","name":"","active":true,"console":"false","complete":"payload","x":844,"y":138.88888888888889,"wires":[]},{"id":"1da98dda.7dae9a","type":"ui_text","z":"c303df44.e294a","group":"74a2b7fe.6e6608","order":0,"width":0,"height":0,"name":"status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":531,"y":600.8888888888889,"wires":[]},{"id":"fb974f34.f59e98","type":"function","z":"c303df44.e294a","name":"true","func":"var NewMsg = { payload: {IO:\"IN\",sw:\"H/L\",stat:\"H\"} };\nvar Newmsg1;\n//Newmsg1={payload : [42, 73,36 ,146,73,36,146]};\n//Newmsg1={payload : \"*I$I$I$\"};\n//Newmsg1={payload : [0x30, 0x01, 0x24]};\n//Newmsg1={payload : [0x2A,0x49,0x24,0x92,0x49,0x24,0x92]};\n//Newmsg1={payload : [0x30,0x01,0x34]};\n//Newmsg1={payload : \"0\\0016\"}; //llega x30,x01,x34 ,y funciona llego a 5V y envia los @\n//Newmsg1={payload : \"0\\001$\"};//llega x30,x01,x24\n//Newmsg1={payload : \"0\\0204\"};//llega 0x30,0x10,0x34\n//Newmsg1={payload : \"/\\0204\"};//llega 0x29,0x10,0x34\n//Newmsg1={payload : \"0\\001$\"};\nNewmsg1={payload : \"0\\0014\"};\nreturn [NewMsg,Newmsg1];","outputs":"2","noerr":0,"x":654,"y":139.88888888888889,"wires":[["2762daee.fb7dce","cb4bd1bb.0d7a7"],["f7255bea.f22df8","369634ca.949ea4"]]},{"id":"e8ac2746.f5953","type":"switch","z":"c303df44.e294a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":503,"y":141.88888888888889,"wires":[["fb974f34.f59e98"],["7fe78361.27e06c"]]},{"id":"4e9ecd0a.654dec","type":"debug","z":"c303df44.e294a","name":"","active":false,"console":"false","complete":"payload","x":843.5,"y":229.88888888888889,"wires":[]},{"id":"16d4df91.a9adc","type":"switch","z":"c303df44.e294a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":527.5,"y":230.88888888888889,"wires":[["91dbccf3.65119"],["5f7b53f8.ba6dd4"]]},{"id":"d85aa2ab.d219d","type":"debug","z":"c303df44.e294a","name":"","active":false,"console":"false","complete":"payload","x":837.5,"y":330.8888888888889,"wires":[]},{"id":"9501f146.31f888","type":"switch","z":"c303df44.e294a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":521.5,"y":331.8888888888889,"wires":[["68a74fe8.876248"],["2ab43cac.1907b4"]]},{"id":"69ff0726.a6d228","type":"debug","z":"c303df44.e294a","name":"","active":false,"console":"false","complete":"payload","x":846.5,"y":426.8888888888889,"wires":[]},{"id":"d1509a6e.b1068","type":"switch","z":"c303df44.e294a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":530.5,"y":427.8888888888889,"wires":[["cc8b19dc.2cb27"],["58f8b5f1.07bc1c"]]},{"id":"63631748.61e81","type":"debug","z":"c303df44.e294a","name":"","active":false,"console":"false","complete":"payload","x":844.5,"y":520.8888888888889,"wires":[]},{"id":"29ea0075.e341a","type":"switch","z":"c303df44.e294a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":528.5,"y":521.8888888888889,"wires":[["72238402.73eedc"],["3fd9b8ca.0a55d8"]]},{"id":"7fe78361.27e06c","type":"function","z":"c303df44.e294a","name":"false","func":"var newMsg = { payload: {IO:\"IN\",sw:\"H/L\",stat:\"L\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":656.5,"y":181.88888888888889,"wires":[["2762daee.fb7dce","cb4bd1bb.0d7a7"]]},{"id":"91dbccf3.65119","type":"function","z":"c303df44.e294a","name":"true","func":"var newMsg = { payload: {IO:\"IN\",sw:\"12V/5V\",stat:\"12V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":661.5,"y":232.88888888888889,"wires":[["4e9ecd0a.654dec","cb4bd1bb.0d7a7"]]},{"id":"5f7b53f8.ba6dd4","type":"function","z":"c303df44.e294a","name":"false","func":"var newMsg = { payload: {IO:\"IN\",sw:\"5V\",stat:\"5V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":664,"y":274.8888888888889,"wires":[["4e9ecd0a.654dec","cb4bd1bb.0d7a7"]]},{"id":"68a74fe8.876248","type":"function","z":"c303df44.e294a","name":"true","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"E/D\",stat:\"E\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":668.5,"y":331.8888888888889,"wires":[["d85aa2ab.d219d","cb4bd1bb.0d7a7"]]},{"id":"2ab43cac.1907b4","type":"function","z":"c303df44.e294a","name":"false","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"E/D\",stat:\"D\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":671,"y":373.8888888888889,"wires":[["d85aa2ab.d219d","cb4bd1bb.0d7a7"]]},{"id":"cc8b19dc.2cb27","type":"function","z":"c303df44.e294a","name":"true","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"H/L\",stat:\"H\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":676.5,"y":426.8888888888889,"wires":[["69ff0726.a6d228","cb4bd1bb.0d7a7"]]},{"id":"58f8b5f1.07bc1c","type":"function","z":"c303df44.e294a","name":"false","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"H/L\",stat:\"L\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":679,"y":468.8888888888889,"wires":[["69ff0726.a6d228","cb4bd1bb.0d7a7"]]},{"id":"72238402.73eedc","type":"function","z":"c303df44.e294a","name":"true","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"12V/5V\",stat:\"12V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":681.5,"y":520.8888888888889,"wires":[["63631748.61e81","cb4bd1bb.0d7a7"]]},{"id":"3fd9b8ca.0a55d8","type":"function","z":"c303df44.e294a","name":"false","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"12V/5V\",stat:\"5V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":684,"y":562.8888888888889,"wires":[["63631748.61e81","cb4bd1bb.0d7a7"]]},{"id":"cb4bd1bb.0d7a7","type":"join","z":"c303df44.e294a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"5","x":956,"y":278.8888888888889,"wires":[["f277806f.dec98"]]},{"id":"f7255bea.f22df8","type":"serial out","z":"c303df44.e294a","name":"","serial":"b0615d3.18fefa","x":1094.6666450500488,"y":183.9999967151218,"wires":[]},{"id":"369634ca.949ea4","type":"debug","z":"c303df44.e294a","name":"","active":true,"console":"false","complete":"false","x":1038.2777777777778,"y":132,"wires":[]}]