home/pi/.node-red/flows_raspberrypi.json
[{"id":"24a505e2.92cb2a","type":"tab","label":"Flow 1"},{"id":"4121ad85.8ff5b4","type":"tab","label":"mcash Configuration"},{"id":"b0615d3.18fefa","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"40","bin":"false","out":"time","addchar":false},{"id":"9694b9f8.bd6ce","type":"websocket-client","z":"","path":"http://demos.kaazing.com/echo/","wholemsg":"false"},{"id":"bb6abff8.a0262","type":"websocket-client","z":"","path":"ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"205fb9fd.806376","type":"websocket-listener","z":"","path":"ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"66b88b31.7a9d24","type":"websocket-listener","z":"","path":" ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"b81d484b.173628","type":"websocket-client","z":"","path":"ws://demos.kaazing.com/echo","wholemsg":"false"},{"id":"e4c594a1.7a2d58","type":"wiotp-credentials","z":"","name":"Raspi Marcos","org":" z1bjsl ","devType":" Raspberry_00 ","devId":"6dc08977.147968"},{"id":"c519f7a8.1d44e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"940dd28.0e9dc3","type":"mqtt-broker","z":"","broker":"192.168.1.217","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"da7029ef.288a","type":"wiotp-credentials","z":"","name":"","org":"z1bjsl","devType":"Raspberry_00","devId":"b4bd65db.d30c6"},{"id":"550f41c5.d84628","type":"ui_group","z":"","name":"Temperatura","tab":"d562f7d.0a0a288","disp":true,"width":"6"},{"id":"98e49f0f.27abb","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d562f7d.0a0a288","type":"ui_tab","z":"","name":"Teemperatura","icon":"dashboard"},{"id":"adb125b.e4bbf58","type":"ui_link","z":"","name":"Link 2","link":"//magneticash.com","icon":"open_in_browser","target":"newtab","order":2},{"id":"3ef79fc5.dd19d","type":"ui_tab","z":"","name":"Config ","icon":"dashboard","order":3},{"id":"85c03eee.e4df48","type":"ui_group","z":"","name":"Config output","tab":"3ef79fc5.dd19d","order":1,"disp":true,"width":"6"},{"id":"59e4dee3.201aa8","type":"ui_group","z":"","name":"Config Input","tab":"3ef79fc5.dd19d","disp":true,"width":"6"},{"id":"801f4322.73dc48","type":"debug","z":"24a505e2.92cb2a","name":"","active":false,"console":"true","complete":"payload","x":715,"y":30,"wires":[]},{"id":"6332dd3b.8f7c1c","type":"serial in","z":"24a505e2.92cb2a","name":"puerto serie","serial":"b0615d3.18fefa","x":124,"y":306,"wires":[["651c3571.d41474","19728c27.ba087c","18256df0.d25cf2"]]},{"id":"651c3571.d41474","type":"tcp out","z":"24a505e2.92cb2a","host":"192.168.1.209","port":"4500","beserver":"client","base64":false,"end":false,"name":"marcos cell out","x":303,"y":450,"wires":[]},{"id":"8b9bb550.453ea8","type":"wiotp out","z":"24a505e2.92cb2a","authType":"d","qs":"true","qsDeviceId":"b4bd65db.d30c6","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":753,"y":91,"wires":[]},{"id":"a701a47a.628068","type":"function","z":"24a505e2.92cb2a","name":"funcion conversion","func":"msg.payload={'d':{'temp':msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\",\"\")}}\nreturn msg;","outputs":1,"noerr":0,"x":516.5,"y":92,"wires":[["801f4322.73dc48","3d5ad7d8.bf97f8","49389907.cd0b38"]]},{"id":"a6529c7a.a71b88","type":"inject","z":"24a505e2.92cb2a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":108.5,"y":84,"wires":[["23b1f2e7.97107e"]]},{"id":"23b1f2e7.97107e","type":"exec","z":"24a505e2.92cb2a","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","timer":"","name":"Tomar temp","x":281.5,"y":92.5,"wires":[["a701a47a.628068"],[],[]]},{"id":"a7edf6ee.57d7a","type":"serial out","z":"24a505e2.92cb2a","name":"puerto serie out","serial":"b0615d3.18fefa","x":723.5,"y":488,"wires":[]},{"id":"62e88204.8fd2cc","type":"debug","z":"24a505e2.92cb2a","name":"U","active":false,"console":"false","complete":"payload","x":657.5,"y":269,"wires":[]},{"id":"155b9463.300a74","type":"tcp in","z":"24a505e2.92cb2a","name":"Raspi prueba tcp","server":"server","host":"192.168.150","port":"2000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":482.5,"y":505,"wires":[["a7edf6ee.57d7a","1633c493.e8fa53"]]},{"id":"19728c27.ba087c","type":"tcp out","z":"24a505e2.92cb2a","host":"192.168.1.150","port":"2001","beserver":"client","base64":false,"end":false,"name":"","x":330.5,"y":569,"wires":[]},{"id":"4e5c64eb.1c05c4","type":"function","z":"24a505e2.92cb2a","name":"U","func":"msg.payload={'d':{'card':msg.payload}}\nreturn msg","outputs":1,"noerr":0,"x":472.5,"y":270,"wires":[["62e88204.8fd2cc"]]},{"id":"18256df0.d25cf2","type":"switch","z":"24a505e2.92cb2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"U","vt":"str"},{"t":"neq","v":"U","vt":"str"}],"checkall":"true","outputs":2,"x":297.5,"y":272,"wires":[["4e5c64eb.1c05c4"],["75ea217f.9f9cb8"]]},{"id":"75ea217f.9f9cb8","type":"function","z":"24a505e2.92cb2a","name":"T","func":"msg.payload={'d':{'card':msg.payload}}\nreturn msg","outputs":1,"noerr":0,"x":469,"y":328,"wires":[["5712e6ec.66f6a8","49389907.cd0b38","8b9bb550.453ea8","eee9be01.acfc2"]]},{"id":"5712e6ec.66f6a8","type":"debug","z":"24a505e2.92cb2a","name":"Tarjeta","active":true,"console":"false","complete":"payload","x":667.5,"y":326,"wires":[]},{"id":"1633c493.e8fa53","type":"debug","z":"24a505e2.92cb2a","name":"","active":true,"console":"false","complete":"false","x":693.5,"y":548,"wires":[]},{"id":"49389907.cd0b38","type":"wiotp out","z":"24a505e2.92cb2a","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"da7029ef.288a","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":662.5,"y":425,"wires":[]},{"id":"24b41a4.cc9a566","type":"ui_gauge","z":"24a505e2.92cb2a","name":"temperatura","group":"550f41c5.d84628","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"25","seg2":"48.9","x":675.5,"y":220,"wires":[]},{"id":"3d5ad7d8.bf97f8","type":"function","z":"24a505e2.92cb2a","name":"pasa temp","func":"return {payload:msg.payload.d.temp};\n","outputs":1,"noerr":0,"x":493.5,"y":191,"wires":[["24b41a4.cc9a566","dbe9c50.4b614b8","d3f2aeb2.2d8ae8"]]},{"id":"dbe9c50.4b614b8","type":"debug","z":"24a505e2.92cb2a","name":"","active":true,"console":"false","complete":"payload","x":740.5,"y":160,"wires":[]},{"id":"d56387f0.d6b958","type":"http response","z":"24a505e2.92cb2a","name":"pago","x":515.5,"y":759,"wires":[]},{"id":"23004a5e.012a5e","type":"template","z":"24a505e2.92cb2a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<a mp-mode=\"dftl\" href=\"https://www.mercadopago.com/mla/checkout/start?pref_id=27084216-fe6973c6-1661-4ca0-8270-b2157414f18c\" name=\"MP-payButton\" class='blue-ar-l-rn-none'>Pagar</a>\n<script type=\"text/javascript\">\n(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement(\"script\");s.type = \"text/javascript\";s.async = true;s.src = document.location.protocol+\"//secure.mlstatic.com/mptools/render.js\";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();\n</script>","x":372.5,"y":761,"wires":[["d56387f0.d6b958"]]},{"id":"45ea119f.bdc2c8","type":"http in","z":"24a505e2.92cb2a","name":"link de pago","url":"/pruebapago","method":"get","swaggerDoc":"","x":166.5,"y":765,"wires":[["23004a5e.012a5e"]]},{"id":"58539b7c.06f40c","type":"http response","z":"24a505e2.92cb2a","name":"pago","x":540,"y":877,"wires":[]},{"id":"639a6d9d.231064","type":"http in","z":"24a505e2.92cb2a","name":"link de pago","url":"http://mpago.la/IWva","method":"post","swaggerDoc":"","x":169,"y":874,"wires":[["58539b7c.06f40c"]]},{"id":"3b4e78fc.6641d8","type":"http request","z":"24a505e2.92cb2a","name":"","method":"GET","ret":"txt","url":"","tls":"","x":357.5,"y":954,"wires":[[]]},{"id":"1e240bcf.ec4af4","type":"tcp in","z":"24a505e2.92cb2a","name":"marcos cell in","server":"client","host":"192.168.1.210","port":"4500","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":475.5,"y":445,"wires":[["a7edf6ee.57d7a"]]},{"id":"d3f2aeb2.2d8ae8","type":"ui_chart","z":"24a505e2.92cb2a","name":"Untitled Theme 1","group":"550f41c5.d84628","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":847.5,"y":268,"wires":[[],[]]},{"id":"eee9be01.acfc2","type":"file","z":"24a505e2.92cb2a","name":"card","filename":"tarjetas_hora.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":664.5,"y":661,"wires":[]},{"id":"b90fdb72.24baf","type":"file in","z":"24a505e2.92cb2a","name":"lee archivo","filename":"tarjetas_hora.txt","format":"","x":369.5,"y":675,"wires":[["651c3571.d41474"]]},{"id":"bd57c67c.a807e8","type":"ui_button","z":"24a505e2.92cb2a","name":"manda","group":"550f41c5.d84628","order":0,"width":0,"height":0,"label":"button","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":205.5,"y":673,"wires":[["b90fdb72.24baf"]]},{"id":"3c170ac1.bbc1e6","type":"ui_switch","z":"4121ad85.8ff5b4","name":"","label":"OUTPUT E/D","group":"85c03eee.e4df48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"OUT E/D","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106.5,"y":287,"wires":[["cd471814.4f4038","d0aebdae.005ac8"]]},{"id":"c24d8bd0.689718","type":"ui_switch","z":"4121ad85.8ff5b4","name":"","label":"OUTPUT H/L","group":"85c03eee.e4df48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"OUT H/L","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":112.5,"y":338,"wires":[["cd471814.4f4038","b4273a98.2ba7b"]]},{"id":"e80fd700.3cbdc","type":"ui_switch","z":"4121ad85.8ff5b4","name":"","label":"OUTPUT 12V/5V","group":"85c03eee.e4df48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"OUT 5/12","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":131.5,"y":392,"wires":[["cd471814.4f4038","f49d759e.432e98"]]},{"id":"3cf92abd.b55ba6","type":"ui_switch","z":"4121ad85.8ff5b4","name":"","label":"INPUT H/L","group":"59e4dee3.201aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"IN H/L","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":111.5,"y":171,"wires":[["cd471814.4f4038","e86a57b0.69463"]]},{"id":"647b64b3.d1cef4","type":"ui_switch","z":"4121ad85.8ff5b4","name":"","label":"INPUT 12V/5V","group":"59e4dee3.201aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"IN 12/5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":118.5,"y":223,"wires":[["cd471814.4f4038","94fbdf2c.dfe108"]]},{"id":"9b06e0.12d2392","type":"ui_button","z":"4121ad85.8ff5b4","name":"SAVE","group":"85c03eee.e4df48","order":0,"width":0,"height":0,"label":"SAVE","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130.5,"y":563,"wires":[["3cf92abd.b55ba6","647b64b3.d1cef4","3c170ac1.bbc1e6","c24d8bd0.689718","e80fd700.3cbdc"]]},{"id":"44d9387b.2bc7d","type":"file","z":"4121ad85.8ff5b4","name":"configuration file","filename":"mcashconfig.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":761.5,"y":574,"wires":[]},{"id":"566c99c4.effd68","type":"debug","z":"4121ad85.8ff5b4","name":"","active":true,"console":"false","complete":"payload","x":668.5,"y":58,"wires":[]},{"id":"cd471814.4f4038","type":"ui_text","z":"4121ad85.8ff5b4","group":"85c03eee.e4df48","order":0,"width":0,"height":0,"name":"status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":355.5,"y":520,"wires":[]},{"id":"ac814ddc.49473","type":"function","z":"4121ad85.8ff5b4","name":"true","func":"var NewMsg = { payload: {IO:\"IN\",sw:\"H/L\",stat:\"H\"} };\nvar Newmsg1;\n//Newmsg1={payload : [42, 73,36 ,146,73,36,146]};\n//Newmsg1={payload : \"*I$I$I$\"};\n//Newmsg1={payload : [0x30, 0x01, 0x24]};\n//Newmsg1={payload : [0x2A,0x49,0x24,0x92,0x49,0x24,0x92]};\n//Newmsg1={payload : [0x30,0x01,0x34]};\n//Newmsg1={payload : \"0\\0016\"}; //llega x30,x01,x34 ,y funciona llego a 5V y envia los @\n//Newmsg1={payload : \"0\\001$\"};//llega x30,x01,x24\n//Newmsg1={payload : \"0\\0204\"};//llega 0x30,0x10,0x34\n//Newmsg1={payload : \"/\\0204\"};//llega 0x29,0x10,0x34\n//Newmsg1={payload : \"0\\001$\"};\nNewmsg1={payload : \"0\\0014\"};\nreturn [NewMsg,Newmsg1];","outputs":"2","noerr":0,"x":478.5,"y":59,"wires":[["566c99c4.effd68","3c1b5929.d2c4a6"],["414a0158.a0c0e","daf067a8.3123b"]]},{"id":"e86a57b0.69463","type":"switch","z":"4121ad85.8ff5b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":327.5,"y":61,"wires":[["ac814ddc.49473"],["387eeef1.36a5b2"]]},{"id":"53bd9676.c7b01","type":"debug","z":"4121ad85.8ff5b4","name":"","active":false,"console":"false","complete":"payload","x":668,"y":149,"wires":[]},{"id":"94fbdf2c.dfe108","type":"switch","z":"4121ad85.8ff5b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":352,"y":150,"wires":[["f55b2ed.cfd6a5"],["bd4379e7.2da5d"]]},{"id":"ec5f2e6.ed0be5","type":"debug","z":"4121ad85.8ff5b4","name":"","active":false,"console":"false","complete":"payload","x":662,"y":250,"wires":[]},{"id":"d0aebdae.005ac8","type":"switch","z":"4121ad85.8ff5b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":346,"y":251,"wires":[["3915bebe.34718a"],["8dd81630.43ba6"]]},{"id":"4eda295a.6cb858","type":"debug","z":"4121ad85.8ff5b4","name":"","active":false,"console":"false","complete":"payload","x":671,"y":346,"wires":[]},{"id":"b4273a98.2ba7b","type":"switch","z":"4121ad85.8ff5b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":355,"y":347,"wires":[["ba1dbfeb.fdba48"],["54c92a2a.7cb2bc"]]},{"id":"7463ff73.83bfc8","type":"debug","z":"4121ad85.8ff5b4","name":"","active":false,"console":"false","complete":"payload","x":669,"y":440,"wires":[]},{"id":"f49d759e.432e98","type":"switch","z":"4121ad85.8ff5b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":353,"y":441,"wires":[["c7f3ffb2.ed0e78"],["cd880e94.159768"]]},{"id":"387eeef1.36a5b2","type":"function","z":"4121ad85.8ff5b4","name":"false","func":"var newMsg = { payload: {IO:\"IN\",sw:\"H/L\",stat:\"L\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":481,"y":101,"wires":[["566c99c4.effd68","3c1b5929.d2c4a6"]]},{"id":"f55b2ed.cfd6a5","type":"function","z":"4121ad85.8ff5b4","name":"true","func":"var newMsg = { payload: {IO:\"IN\",sw:\"12V/5V\",stat:\"12V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":486,"y":152,"wires":[["53bd9676.c7b01","3c1b5929.d2c4a6"]]},{"id":"bd4379e7.2da5d","type":"function","z":"4121ad85.8ff5b4","name":"false","func":"var newMsg = { payload: {IO:\"IN\",sw:\"5V\",stat:\"5V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":488.5,"y":194,"wires":[["53bd9676.c7b01","3c1b5929.d2c4a6"]]},{"id":"3915bebe.34718a","type":"function","z":"4121ad85.8ff5b4","name":"true","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"E/D\",stat:\"E\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":493,"y":251,"wires":[["ec5f2e6.ed0be5","3c1b5929.d2c4a6"]]},{"id":"8dd81630.43ba6","type":"function","z":"4121ad85.8ff5b4","name":"false","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"E/D\",stat:\"D\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":495.5,"y":293,"wires":[["ec5f2e6.ed0be5","3c1b5929.d2c4a6"]]},{"id":"ba1dbfeb.fdba48","type":"function","z":"4121ad85.8ff5b4","name":"true","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"H/L\",stat:\"H\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":501,"y":346,"wires":[["4eda295a.6cb858","3c1b5929.d2c4a6"]]},{"id":"54c92a2a.7cb2bc","type":"function","z":"4121ad85.8ff5b4","name":"false","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"H/L\",stat:\"L\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":503.5,"y":388,"wires":[["4eda295a.6cb858","3c1b5929.d2c4a6"]]},{"id":"c7f3ffb2.ed0e78","type":"function","z":"4121ad85.8ff5b4","name":"true","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"12V/5V\",stat:\"12V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":506,"y":440,"wires":[["7463ff73.83bfc8","3c1b5929.d2c4a6"]]},{"id":"cd880e94.159768","type":"function","z":"4121ad85.8ff5b4","name":"false","func":"var newMsg = { payload: {IO:\"OUT\",sw:\"12V/5V\",stat:\"5V\"} };\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":508.5,"y":482,"wires":[["7463ff73.83bfc8","3c1b5929.d2c4a6"]]},{"id":"3c1b5929.d2c4a6","type":"join","z":"4121ad85.8ff5b4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"5","x":780.5,"y":198,"wires":[["44d9387b.2bc7d"]]},{"id":"414a0158.a0c0e","type":"serial out","z":"4121ad85.8ff5b4","name":"","serial":"b0615d3.18fefa","x":919.1666450500488,"y":103.11110782623291,"wires":[]},{"id":"daf067a8.3123b","type":"debug","z":"4121ad85.8ff5b4","name":"","active":true,"console":"false","complete":"false","x":862.7777777777777,"y":51.11111111111111,"wires":[]}]